.ButtonBar {
    position: fixed;
    background: lightblue;
    bottom: 0;
    z-index: 900;
    width: 100%;
    margin: 0;
    height: 60px;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
}

.Charts{
    margin-bottom:60px;
}
